In [47]:
import csv,numpy,pandas,nltk
import sklearn
from sklearn.feature_extraction.text import CountVectorizer,TfidfTransformer
import time
import re
import numpy as np
from nltk.tokenize import word_tokenize #import word_tokenize for tokenizing text into words 
from nltk.corpus import stopwords #import stopwords
from collections import Counter
from nltk.stem.porter import PorterStemmer #import Porter Stemmer Algorithm 
from textblob import TextBlob
from textblob.classifiers import NaiveBayesClassifier

In [48]:
datatrain = pandas.read_excel('data/fixeddatatraining.xlsx')
label = datatrain["Label"].tolist()
desc = datatrain["Description"].tolist()
datatrain.head()

   Label                                        Description
0      4  A little-known, Boston-area startup is beta-te...
1      4  The U.S. needs to overhaul its education syste...
2      4  Executives from Sprintand Nextel Communication...
3      4  Neon Systems, a provider of mainframe integrat...
4      4  NEC and Toshiba have made two advancements in ...

In [67]:
datatest = pandas.read_excel('data/fixeddatatesting.xlsx')
labelt = datatest["Label"].tolist()
desct = datatest["Description"].tolist()
datatest.head()

   Label                                        Description
0      3  Unions representing workers at Turner   Newall...
1      4  SPACE.com - TORONTO, Canada -- A second\team o...
2      4  AP - A company founded by a chemistry research...
3      4  AP - It's barely dawn when Mike Fitzpatrick st...
4      4  AP - Southern California's smog-fighting agenc...

In [50]:
groupby= datatrain.groupby('Label').size()
print (groupby)
print("Notes :\n1 : World\n2 : Sports\n3 : Business\n4 : Sci Tech")

Label
1    508
2    533
3    579
4    479
dtype: int64
Notes :
1 : World
2 : Sports
3 : Business
4 : Sci Tech

In [66]:
def clean_data(data):
        text = ' '.join(re.sub('https?://[A-Za-z0-9./]+','',data).split())
        text = ' '.join(re.sub("[^a-zA-Z]", " ", text).split())
        text = text.lower().split()
        return text

cleaned= []
i = 0
while i < len(desc):
    result = clean_data(desc[i])
    result = ' '.join(result)
    cleaned.append(result)
    i += 1
    
# print(cleaned)

In [65]:
stop_words = set(stopwords.words('english'))
def stpword(str):
    word_tokens = word_tokenize(str) 
    filtered_sentence = [w for w in word_tokens if not w in stop_words]  
    filtered_sentence = [] 
    
    for w in word_tokens: 
        if w not in stop_words: 
            filtered_sentence.append(w)
    return filtered_sentence

stpwrd = []
i = 0
while i < len(desc):
    new = ' '.join(stpword(cleaned[i]))
    stpwrd.append(new)
    i += 1
    
# print(stpwrd)

In [60]:
record = []
j = 0
while j < len(label):
    train = (stpwrd[j], label[j])
    record.append(train)
    j += 1
    
# print(record)

In [ ]:
nbc = NaiveBayesClassifier(record)
blob = TextBlob("indonesia take a part in united nations security council", classifier=nbc)
print(blob.classify())

In [20]:
nbc = NaiveBayesClassifier(record)
blob = TextBlob("football match held in sea games", classifier=nbc)
print(blob.classify())

2

In [21]:
nbc = NaiveBayesClassifier(record)
blob = TextBlob("economic forum proposed resolution in financial issues", classifier=nbc)
print(blob.classify())

3

In [18]:
nbc = NaiveBayesClassifier(record)
blob = TextBlob("exploration moon planets solar system", classifier=nbc)
print(blob.classify())

4

In [71]:
cleanedt = []
i = 0
while i < len(desct):
    result = clean_data(desct[i])
    result = ' '.join(result)
    cleanedt.append(result)
    i += 1

stpwrdt = []
i = 0
while i < len(desct):
    new = ' '.join(stpword(cleanedt[i]))
    stpwrdt.append(new)
    i += 1
    
testing = NaiveBayesClassifier(record)
j = 0
print("Result === Actual")
while j < len(datatest):
    tb = TextBlob(stpwrdt[j], classifier=nbc)
    print(blob.classify() , "===" , labelt[j])
    j += 1

Result === Actual
1 === 3
1 === 4
1 === 4
1 === 4
1 === 4
1 === 4
1 === 4
1 === 4
1 === 4
1 === 4
1 === 4
1 === 4
1 === 4
1 === 4
1 === 4
1 === 4
1 === 4
1 === 4
1 === 4
1 === 4
1 === 4
1 === 4
1 === 4
1 === 4
1 === 4
1 === 4
1 === 2
1 === 2
1 === 2
1 === 2
1 === 2
1 === 2
1 === 1
1 === 1
1 === 1
1 === 1
1 === 1
1 === 1
1 === 1
1 === 2
1 === 3
1 === 1
1 === 4
1 === 2
1 === 2
1 === 1
1 === 4
1 === 1
1 === 2
1 === 1
1 === 2
1 === 1
1 === 4
1 === 3
1 === 4
1 === 1
1 === 1
1 === 3
1 === 3
1 === 2
1 === 2
1 === 2
1 === 4
1 === 1
1 === 4
1 === 1
1 === 1
1 === 2
1 === 1
1 === 4
1 === 4
1 === 4
1 === 1
1 === 4
1 === 2
1 === 1
1 === 2
1 === 1
1 === 1
1 === 1
1 === 2
1 === 3
1 === 3
1 === 1
1 === 1
1 === 1
1 === 1
1 === 4
1 === 3
1 === 4
1 === 3
1 === 2
1 === 2
1 === 3
1 === 1
1 === 3
1 === 2
1 === 3
1 === 3
1 === 1
1 === 2
1 === 1
1 === 2
1 === 1
1 === 4
1 === 3
1 === 4
1 === 4
1 === 4
1 === 4
1 === 2
1 === 4
1 === 4
1 === 2
1 === 1
1 === 2
1 === 4
1 === 1
1 === 4
1 === 3
1 === 2
1 === 2
1 === 1
1 === 1
1 === 1
1 === 2
1 === 1
1 === 2
1 === 2
1 === 1
1 === 2
1 === 1
1 === 2
1 === 1
1 === 2
1 === 1
1 === 1
1 === 1
1 === 3
1 === 2
1 === 2
1 === 2